<h1>Editar País</h1>
<br>

<% if (typeof errores !== 'undefined' && errores.length > 0) { %>
    <div style="color:red; margin-bottom:16px;">
        <ul>
            <% errores.forEach(e => { %><li><%= e.msg %></li><% }) %>
        </ul>
    </div>
<% } %>

<form action="/paises/<%= pais._id %>/editar" method="POST">
    <label>Nombre oficial *</label><br>
    <input type="text" name="nombreOficial" value="<%= pais.name?.official || '' %>" minlength="3" maxlength="90" required><br><br>

    <label>Capital *</label><br>
    <input type="text" name="capital" value="<%= pais.capital?.[0] || '' %>" required><br><br>

    <label>Fronteras (códigos de 3 letras separados por coma)</label><br>
    <input type="text" name="borders" value="<%= pais.borders?.join(', ') || '' %>"><br><br>

    <label>Área (km²) *</label><br>
    <input type="number" name="area" value="<%= pais.area || '' %>" min="0" required><br><br>

    <label>Población *</label><br>
    <input type="number" name="population" value="<%= pais.population || '' %>" min="0" required><br><br>

    <label>Zona horaria *</label><br>
    <input type="text" name="timezones" value="<%= pais.timezones?.[0] || '' %>" required><br><br>

    <label>Creador *</label><br>
    <input type="text" name="creador" value="<%= pais.creador || '' %>" required><br><br>

    <button type="submit">Guardar</button>
    <a href="/">Cancelar</a>
</form>